<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style.
          body{
          background-color: #52b1ea;
          }
        title Competition
    body
        .header
          h1 Modulo Concursos
        .wrapper
            form(action = "/competition/start/", method = "POST")
                div(id="templates")
                  p.subtitle Plantillas:
                  if templatesLength > 0
                    ul
                    each template in templates
                      li 
                        | Id Plantilla: #{template.layoutId},
                        | Nombre: #{template.layout},
                        | Fecha importacion: #{template.modifiedDt}
                  else
                    p No hay ninguna plantilla importada en el CMS.
                    | Si quieres utilizar una plantilla para el concurso, importela en el CMS antes.
                br 
                br
                input(type="text", name="layoutName", placeholder="Nombre layout principal")
                input(type="text", name="templateId", placeholder="Id Plantilla a utilizar")
                input(type = "submit", value="Comenzar competicion")  