<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style.
          body{
          background-color: #52b1ea;
          }
        title Competition
    body
        .header
          h1 Modulo Concursos
        .wrapper
            form(action = "/competition/start/", method = "POST")
                input(type="text", name="layoutName", placeholder="Nombre layout principal")
                input(type = "submit", value="Comenzar competicion")  