doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      body{
      background-color: #52b1ea;
      }
      p#demo {
      text-align: center;
      font-size: 150px;
      margin-top: 0px;
      color: #fff;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }
      p#name {
      text-align: center;
      font-size: 80px;
      margin-top: 0px;
      color: #fff;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }
      p#shortname {
      text-align: center;
      font-size: 50px;
      margin-top: -100px;
      color: #fff;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }
  body
    if startOrEnd == 'start' 
      p#name El concurso empieza en:
    if startOrEnd == 'end' 
      p#name El concurso finaliza en:
    p#demo
    script.
      // Set the date we're counting down to
      // var countDownDate = new Date("May 15, 2019 22:30:00").getTime();
      var countDownDate = #{time}
      // Update the count down every 1 second
      var x = setInterval(function() {
      // Get today's date and time
      var now = new Date().getTime();
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      // Output the result in an element with id="demo"
      document.getElementById("demo").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";
      // If the count down is over, write some text
      if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "EXPIRED";
      }
      }, 1000);



