<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Competition
    body
        .header
          h1 Modulo Concursos
        .wrapper
            h1 Concurso en marcha
            p Parar concurso...
            form(action = "/competition/stop/", method = "POST")
                input(type="checkbox", name="clean", value="true")
                | Eliminar contenido creado automaticamente para el concurso
                br 
                br
                input(type = "submit", value="Detener competicion")  