doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title AddWidget
    body
        .header
            h1 Widget Adder v0.1
        .wrapper
            h2 Widget type: #{type}
            ul
                h3 Required parameters
                p Required parameters list in order to add this widget
                    div(id="params")
                        if length > 0
                            form(action = "/postWidget", method = "POST")
                                ul
                                each param in params
                                    li
                                        | #{param}.- 
                                        if param == "modeId"
                                            input(type = "text" name = param placeholder = "1-Nativ 2-Man 3-BestFt")
                                        else if param == "clockTypeId"
                                            input(type = "text" name = param placeholder = "1-Analog 2-Digital 3-Flip")
                                        else if param == "embedHtml"
                                            textarea(name=param cols="30" rows="10" placeholder="HTML a Incrustar")
                                        else if param == "templateId"
                                            input(type = "number" name = param placeholder = "12" min = "1" max = "12")
                                        else
                                            input(type = "text" name = param)
                                        br
                                input(type = "submit" value = "Send")
                        else
                            p Este widget no tiene parametros obligatorios