<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Competition
    body
        .header
          h1 Competition Prototype
        .wrapper
            form(action = "start/", method = "POST")
                a Selecion de archivo de servidor remoto
                p Configura display en base a dicho archivo
                input(type = "url" name = "urlName" placeholder = "URL del fichero")
                input(type = "submit", value="Programar competicion")  