<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Campaign
    body
        .header
          h1 campaign Manager v0.1
        .wrapper
            
            h3
                form(action = "/createCampaign", method = "POST")
                    div.getAllLayouts
                        div(id="layouts")
                            each layout in layouts
                                | #{layout.layoutId}.- #{layout.layout}
                                input(type="checkbox",name='layoutId',value=layout['layoutId'])
                                br
                                input(type="number",name='order_'+layout.layoutId,value='0', min=0)
                                br
                            else
                                p No hay layouts
                    br
                    a Create campaign
                    input(type = "text" name = "CampaignName" placeholder = "campaign name")
                    input(type = "submit") 