<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Xibo Content Manager</title>
  </head>
  <body>
    <div class="header">
      <h1>Xibo Content Manager v0.2</h1>
    </div>
    <div class="wrapper">
      <ul>
        <li>
          <h3><a href="RemoteContent/">Remote data loader</a></h3>
          <p>Get content from remote source and use it to create a new layout</p>
        </li>
        <li>
          <h3>Other item...</h3>
        </li>
        <li>
          <h3>...and another...</h3>
        </li>
        <li>
          <h3>...and another...</h3>
        </li>
      </ul>
    </div>
    <div id="test">
    </div>
  </body>
</html>
