<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Xibo Content Manager
  body
    .header
      h1 Controlador de Gestión Diaria
    .wrapper
      ul
        li
          h3 
            a(href="LayoutManager/") Layout Manager
            p Gestionar Layouts en el CMS
        li
          h3 
            a(href="CampaignManager/") Campaign Manager
            p Gestionar campañas en el CMS
        li
          h3
            a(href="EventManager/") Event Manager
            p Crear nuevo evento con un layout previamente creado
        li
          h3 
            a(href="competition/") Controlador de Concursos
            p Gestionar un concurso integrado con DomJudge