<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Xibo Content Manager
  body
    .header
      h1 Xibo Content Manager v0.3
    .wrapper
      ul
        li
          h3 
            a(href="RemoteContent/") Remote data loader
            p Get content from remote source and use it to create a new layout
        li
          h3
            a(href="LayoutScheduler/") Layout scheduler
            p Creates new layout with media selected and schedules that layout
