<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Layout Scheduler
    body
        form(action="createLayout/",method="POST")
            div.media-selector
                div(id="media")
                    each item in items
                        | #{item.fileName}
                        input(type="checkbox",name='id',value=item['mediaId'])
                        input(type="number",name='order_'+item.mediaId,value='0', min=0)
                        br
                    else
                        p Biblioteca vacia
            br
            label(for="layoutName") Layout Name
            input(id="layoutName",type="text", placeholder="Layout name")
            br
            br
            input(type="submit", value="Create Layout")

        