<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ScheduleManager
    body
        .header
          h1 Schedule Manager v0.1
        .wrapper
            
            table(style='width:100%', border='1')
                    tr
                        th Create
                    tr
                        td 
                            h3
                                form(action = "createEvent", method = "POST")
                                    a Create event
                                    p Create a new event
                                    input(type = "text" name = "scheduleName" placeholder = "schedule name")
                                    if lengthLayouts > 0
                                        ul
                                        each layout in layouts
                                            li 
                                                | #{layout.layoutId}.- #{layout.layout}
                                                input(type='radio', name=`layoutChecked`, value=layout)
                                                br   
                                    else
                                        p No hay layouts
                                    p Fecha y hora inicio
                                    input(type="datetime-local" name="fromDate")
                                    br
                                    p Fecha y hora fin
                                    input(type="datetime-local" name="Totote")
                                    br
                                    p Prioridad
                                    input(type="number" name="priority" min="0" max ="1000")
                                    br
                                    input(type = "submit" value = "Create") 
                        