<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title LayoutManager

    body
        .header
          h1 Layout Manager
        .wrapper
           
                table(style='width:100%', border='1')
                    tr
                        th Create and Delete
                        th Get
                    tr
                        td 
                            h3
                                form(action = "/createLayout", method = "POST")
                                    a Create layout
                                    p Create a new layout
                                    input(type = "text" name = "layoutName" placeholder = "Layout name")
                                    input(type = "submit" value = "Create") 
                        td 
                            h3
                                div.getAllLayouts
                                    div(id="layouts")
                                    form(action="/designLayout",method="POST")
                                        if length > 0
                                            ul
                                            each layout in layouts
                                                li 
                                                    | #{layout.layoutId}.- #{layout.layout}
                                                    input(type='radio', name=`layoutChecked`, value=layout)
                                                    br
                                            input(type = "submit" value = "Design")    
                                        else
                                            p No hay layouts
                                       
                    tr
                        td                 
                            h3
                                form(action = "/deleteLayout", method = "POST")
                                    a Delete layout
                                    p Delete a existing layout by Id
                                    input(type = "text" name = "layoutId" placeholder = "Layout id")
                                    input(type = "submit" value = "Delete") 
                        td 
