<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Acceder Aplicacion
    body
        .header
          h1 Panel de administración de gestion diaria/concursos
          p Control de Acceso:
        .wrapper
            form(action = "/login", method = "POST")
                input(type="text", name="username", placeholder="Nombre de usuario")
                br
                br
                input(type="password", name="password", placeholder="Contraseña")  
                br
                br
                br
                input(type="submit", value="Entrar")