<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Remote Content Loader</title>
  </head>
  <body>
    <div class="header">
      <h1>Xibo Content Manager v0.2</h1>
    </div>
    <div class="wrapper">
      <form class="prettyForm" action="/getRemoteData" method="post">
        <label for="url">Data source URL</label>
        <input type="url" name="DataUri" value="" placeholder="http://example.com" required></br>
        <label for="layoutName">Layout Name</label>
        <input type="text" name="LayoutName" value="testLayout" required></br>
        <input type="submit" name="submitBtn" value="Create">
      </form>
    </div>
    <div id="test">
    </div>
  </body>
</html>
