head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', type='text/css', href='public/vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='public/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', type='text/css', href='public/vendor/animate/animate.css')
  link(rel='stylesheet', type='text/css', href='public/vendor/select2/select2.min.css')
  link(rel='stylesheet', type='text/css', href='public/vendor/perfect-scrollbar/perfect-scrollbar.css')
  link(rel='stylesheet', type='text/css', href='public/css/util.css')
  link(rel='stylesheet', type='text/css', href='public/css/main.css')
body
  .limiter
    .container-table100
      .wrap-table100
        .table100.ver1.m-b-110
          .table100-head
            table
              thead
                tr.row100.head
                  th.cell100.column1 #
                  th.cell100.column2 Equipo
                  th.cell100.column3 Puntuacion
                  th.cell100.column4 Tiempo Total
          .table100-body.js-pscroll
            table
              tbody
                each team in teams
                  tr.row100.body
                      td.cell100.column1 team.rank
                      td.cell100.column2 team.name
                      td.cell100.column3 team.score
                      td.cell100.column4 team.total